* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ---------- Page 1 CSS ----------  */
#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: -1;
    /* background-color: rebeccapurple; */
    /* position: absolute; */
  }
  #main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;

  }
  
  #page1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* top: 15%; */
    /* padding-block: 5%; */
  }
  #page1-content h1 {
      font-family: "Hammersmith One", sans-serif;
      text-transform: uppercase;
      text-align: center;
    color: white;
    font-size: 7rem;
    margin-block: 10%;
    font-weight: 900;
    position: relative;
    letter-spacing: 1%;
  }
  #page1-content h2 {
      font-family: 'Solway', serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 900;
    position: relative;
    color: white;  
  }
  
  /* Page1 media queries CSS */
  @media only screen and (max-width: 992px){
      #page1-content h1{
          font-size: 5rem;
          margin-block: 0;
          margin-top: 0;
          margin-bottom: 5%;
      }
      #page1-content h2{
          font-size: 2rem;
        margin-top: 5%;
        padding-block: 0;
      }
  }
  
  @media only screen and (max-width: 440px){
      #page1-content{
          padding-top: 20%;
      }
      #page1-content h1{
          font-size: 5rem;
          margin-block: 30%;
      }
      #page1-content h2{
          font-size: 2rem;
  
      }
  }
  
  @media only screen and (max-width: 340px){
      #page1-content{
          padding-top: 40%;
      }
      #page1-content h1{
          font-size: 4rem;
          margin-block: 50%;
      }
      #page1-content h2{
          font-size: 1.76rem;
  
      }
  }
  
  /* Page 1 CSS End */
  
  
/* --------------------------------Page 2 CSS begins here------------------------------  */
#page2 {
    width: 100%;
    padding: 5% 10%;
    background-color: #ffeede;
    /* display: block; */
    position: relative;
}

#imgs h2 {
    display: none;
    font-family: 'Hammersmith One', sans-serif;
}

#page2 img {
    /* display: inline; */
    position: absolute;
}

.Rings {
    height: 67%;
    width: 33%;
    rotate: 90deg;
    /* display: none; */
}

#Ring2 {
    left: 15%;
}

#food-1 {
    height: 45%;
    width: 16%;
    top: 12%;

    object-fit: cover;
}

#food-2 {
    height: 45%;
    width: 16%;
    object-fit: cover;
    top: 38%;
    left: 32%;
}

#page2Txt {
    padding: 2% 7%;
}

#page2Txt h2 {
    font-size: 2.5rem;
    font-family: 'Hammersmith One', sans-serif;
}

#page2Txt p {
    margin-top: 30px;
    font-size: 1.2rem;
    font-family: 'Hanken Grotesk', sans-serif;
}

#page2Txt button {
    margin: 15px 0;
    border-radius: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

/* Media Queries page2 */
@media only screen and (max-width:992px) {
    #imgs img {
        position: static;
        /* text-align: center; */
        height: 100%;
        width: 40%;
        margin: 20px auto;
        padding: 10px;

    }

    #page2 {
        text-align: center;
    }
    #page2 p{
        text-align: left;
    }

    #imgs {
        margin-bottom: 10px;
        height: fit-content;
    }

    #imgs h2 {
        display: block;
        font-size: 2.3rem;
    }

    .Rings {
        display: none;
    }
    #page2Txt{
        padding: 2% 0;
    }
    #page2Txt h2 {
        display: none;
    }

    #page2Txt p {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width:600px) {
    #imgs img {
        position: static;
        /* text-align: center; */
        height: 100%;
        width: 100%;
        margin: auto;
        padding: 10px;

    }

    #imgs {
        margin-bottom: 20px;

    }

    .Rings {
        display: none;
    }

    #imgs h2 {
        margin-bottom: 20px;
    }

    #page2Txt p {
        font-size: 1.1rem;
        margin-top: 0px;
    }

    #page2Txt {
        padding: 0 4%;

    }
}

@media only screen and (max-width:440px) {
    #imgs h2 {
        font-size: 1.8rem;
    }

    #page2Txt p {
        font-size: 0.8rem;
    }

    #page2Txt button {
        font-size: 0.8rem;
        width: 70%;
    }
}

@media only screen and (max-width:340px) {
    #imgs h2 {
        font-size: 1.5rem;
    }

    #page2Txt p {
        font-size: 0.7rem;

    }

    #page2 {
        padding: 5% 5%;
    }

    #page2Txt button {
        font-size: 0.7rem;
        margin: 5px 0;
    }
}

/* ----------------------------------Page 2 End--------------------------------------------- */




/* ----------------------------------Page 3 CSS begins here--------------------------------------------- */


#page3{
    background-color: ffeede;
    padding: 5% 10%;
    width:100%;
    /* position: relative; */
    margin: auto;
    display: flex;
    
}
#page3Img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    text-align: center;
}
#appet
{
    text-align: center;
}
#appet img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.col-lg-8 p,.col-lg-8 button{
    display: none;
}
.col-lg-8 button{
    border-radius: 0;
}
.page3Img1 img,.page3Img2 img{
    height: 230px;
    width: 100%;
    object-fit: cover;
    
}
#page3Txt{
    padding: 3%;
    
}
#page3Txt h2{
    font-size: 2.5rem;
    font-family: 'Hammersmith One', sans-serif;
}
#page3Txt p {
    margin-top: 15px;
    font-size: 1.2rem;
    font-family: 'Hanken Grotesk', sans-serif;
}
#page3Txt button{
    border-radius: 0;
    margin-top: 10px;
}
#appet h4,#page3Img h4{
    font-family:'Hammersmith One', sans-serif ;
    font-size: 1.4rem;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 10px;
}

@media only screen and (max-width:992px)
{
    .page3Img1 img,.page3Img2 img{
        height: 120px;
        width: 80%;
        margin: 0;
    }
    .col-lg-8{
        padding: 0;
        margin: 0;
    }
    #page3Txt{
        padding: 0;
        margin: 0;
    }
    #appet img{
        height: 300px;
        width: 85%;
        
    }
    #page3Txt h2{
        font-size: 2.3rem;
    }
    #page3Txt p,#page3Txt button{
        display: none;
    }
    #appet h4,#page3Img h4{
        
        font-size: 1.1rem;
        
    }
    .col-lg-8 p,.col-lg-8 button{
        display: block;
        font-size: 1rem;
        margin-top: 20px;
    }
    
}
@media only screen and (max-width:768px){
    .page3Img1 img,.page3Img2 img{
        height: 170px;
        width: 60%;
        margin-top: 25px;
    }
    #appet img{
        height: 170px;
        width: 60%;
        margin-top: 25px;
    }
    #page3Txt h2{
        text-align: center;
    }
}
@media only screen and (max-width:768px){
    .page3Img1 img,.page3Img2 img{
        height: 150px;
        width: 70%;
    }
    #appet img{
        height: 150px;
        width: 70%;
        
    }
    #page3Txt h2{
        font-size: 1.8rem ;
    }
    #appet h4,#page3Img h4{
        
        font-size: 0.9rem;
        
    }
    .col-lg-8 p,.col-lg-8 button{
    margin-top: 15px;
        font-size: 0.8rem;
        
    }
    .col-lg-8 button{
        margin-top: 5px;
    }
}
@media only screen and (max-width:340px){
    #page3Txt h2{
        font-size: 1.5rem ;
    }
    #appet h4,#page3Img h4{
        
        font-size: 0.8rem;
        
    }
    .col-lg-8 p,.col-lg-8 button{
        
            font-size: 0.7rem;
            
        }
}
