* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}
/* ------------------------CSS for Home Page Navbar ------------------------------ */
#Window1 {
  background-color: #f5f7f9;
  width: 100%;
}
.navbar {
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
}
#navbox {
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#Searchform2,
#Searchbox2,
#Login2 {
  display: none;
}
.Logobox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 14%;
  margin-right: 3%;
}
.LogoText {
  color: #4682a9;
}
.nav-link {
  color: #4681a9;
  opacity: 0.6;
}
.nav-link:hover {
  color: #00385d;
  opacity: 0.6;
}
.navbar-toggler {
  border: 0px;
  border-radius: 0;
  color: #002035;
}

.Logo {
  width: 24px;
  height: 38px;
}
.Logobox span {
  font-weight: 600;
  font-family: "Source Serif 4", serif;
  font-size: 1.5rem;
  color: #00385d;
}
#Searchform {
  width: 50%;
}
#Searchbox {
  display: flex;
  align-items: center;
  width: 70%;
}
#Searchbox i {
  padding: 10px 10px;
  background-color: white;
}
#Searchbar {
  border-radius: 0;
  border: 0;
}
#Login {
  width: 30%;
  border: 0;
  border-radius: 0;
  background-color: #00385d;
  color: white;
}
#Login:hover,
#Login2:hover {
  background-color: #002035;
}
#Login2 {
  width: 30%;
  border: 0;
  border-radius: 0;
  background-color: #00385d;
  color: white;
}
@media only screen and (max-width: 1150px) {
  .Logobox {
    margin-right: 7%;
  }
  #Login {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 992px) {
  #navbox {
    justify-content: left;
  }
  .Logobox {
    display: none;
  }
  #Searchbox {
    display: none;
  }
  #Login {
    display: none;
  }
  #Searchform2,
  #Searchbox2,
  #Login2 {
    display: block;
    margin: auto;
  }
  #Searchform2 {
    width: 100%;
    padding: 3% 5%;
  }
  #Searchbox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  #Searchbar2 {
    border-radius: 0;
    border: 0;
  }
  #Login2 {
    font-size: 0.8rem;
  }
  #Searchbox2 i {
    padding: 9px 2%;
    background-color: white;
  }
}
@media only screen and (max-width: 453px) {
  #Login2 {
    font-size: 0.6rem;
  }
  #Searchbar2 {
    font-size: 0.8rem;
  }
  .nav-link {
    font-size: 0.8rem;
  }
  .dropdown-item {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 361px) {
  #Login2 {
    font-size: 0.4rem;
  }
  #Searchbar2 {
    font-size: 0.7rem;
  }
  .nav-link {
    font-size: 0.7rem;
  }
  .dropdown-item {
    font-size: 0.7rem;
  }
}
/* ----------------------------CSS for first page below navbar----------------------- */
#Frontbox {
  padding: 5% 10%;
  margin: 0;
  width: 100%;
}
#Frontimg {
  text-align: center;
}
#Frontimg img {
  width: 76%;
}
.Titleimg {
  width: 30%;
  margin-right: 2%;
}
#Titleimgbox {
  display: flex;
  flex-direction: row;
}
#Fronttext {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#Titletext h1 {
  font-family: "Source Serif 4", serif;
  color: #00385d;
  font-weight: 600;
  font-size: 2.8rem;
}
.latest {
  color: #4681a9;
}

@media only screen and (max-width: 1150px) {
  #Frontbox {
    padding: 3% 5%;
    display: flex;
  }
  #Frontimg img {
    width: 70%;
  }
  #Frontbtn {
    font-size: 0.8rem;
  }
  #Titletext h1 {
    font-size: 2.3rem;
  }
  .latest {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 845px) {
  #Frontbtn {
    font-size: 0.8rem;
  }
  #Titletext h1 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  #Frontimg img {
    width: 60%;
  }
  .Titleimg {
    width: 20%;
    margin: 0 3%;
    margin-bottom: 2%;
  }
  #Fronttext {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #Titletext {
    text-align: left;
  }
  #Frontbtn {
    width: 100%;
    justify-content: center;
  }
  #Frontbtn i {
    margin-left: 2%;
  }
  #Frontimg {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 540px) {
  #Titletext h1 {
    font-size: 1.6rem;
  }
  .latest {
    font-size: 0.6rem;
  }
  #Frontimg img {
    width: 70%;
  }
}
@media only screen and (max-width: 380px) {
  #Titletext h1 {
    font-size: 1.1rem;
  }
  .latest {
    font-size: 0.5rem;
  }
  #Frontimg img {
    width: 80%;
  }
}
/* --------------CSS FOR WINDOW 2---------------*/
#window2 {
  display: flex;
  gap: 5%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 3% 5%;
}
#details {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#socialmedia {
  display: flex;
  gap: 2%;
  justify-content: space-between;
}
.socialIcon {
  width: 10%;
}
#author {
  margin-bottom: 5%;
}
#author-data p {
  /* font-family: 'Source Serif 4', serif; */
  color: #00385d;
  font-size: 1.3rem;
}
.upper {
  font-size: 1.1rem;
  margin-bottom: 2%;
  color: #4681a9;
}
#author #name {
  color: #00385d;
  font-size: 2.2rem;
  font-family: "Source Serif 4";
}
/* -------------- WINDOW 2 RESPONSIVE PART ---------------*/
@media only screen and (max-width: 1150px) {
  #author-data p {
    color: #00385d;
    font-size: 1.1rem;
  }
  #author #name {
    color: #00385d;
    font-size: 1.8rem;
    font-family: "Source Serif 4";
  }
  .socialIcon {
    width: 15%;
  }
  .upper {
    font-size: 1rem;
    margin-bottom: 2%;
  }
}
@media only screen and (max-width: 845px) {
  #author-data p {
    color: #00385d;
    font-size: 1rem;
  }
  #author #name {
    color: #00385d;
    font-size: 1.6rem;
    font-family: "Source Serif 4";
  }
  .socialIcon {
    width: 15%;
  }
  .upper {
    font-size: 0.9rem;
    margin-bottom: 2%;
  }
}
@media only screen and (max-width: 767px) {
  #window2 {
    flex-direction: column;
  }
  #author #name {
    font-size: 1.4rem;
  }
  #author {
    margin: 0;
  }
  #details {
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 2% 0;
  }
  .socialIcon {
    width: 11%;
  }
  .upper {
    font-size: 0.8rem;
    margin-bottom: 2%;
  }
}
@media only screen and (max-width: 540px) {
  #author #name {
    font-size: 1.2rem;
  }
  #details {
    justify-content: space-around;
    gap: 4%;
    align-items: center;
  }
  #author-data p {
    font-size: 0.85rem;
    text-align: justify;
  }
  .socialIcon {
    width: 9%;
  }
  .upper {
    font-size: 0.7rem;
    margin-bottom: 2%;
  }
}
@media only screen and (max-width: 380px) {
}

/* ------------WINDOW 3 CSS---------- */
#project-intro {
  padding-inline: 5%;
}
#win3-head {
  margin-block: 2%;
  font-family: "Source Serif 4";
  color: #00385d;
  font-size: 2.6rem;
}
#win3-head h2 {
  margin-block: 2%;
  font-family: "Source Serif 4";
  color: #00385d;
  font-size: 3rem;
}

.win3img-left img {
  width: 30%;
  float: left;
  margin: 0 3% 2% 0;
}
.win3img-right img {
  width: 30%;
  float: right;
  margin: 0 0 2% 3%;
}
#project-material {
  color: #00385d;
  font-size: 1.3rem;
  text-align: justify;
  /* margin-bottom: 3%; */
}
.project-data {
  margin-bottom: 4%;
}
.project-data .number {
  font-weight: 500;
  font-family: "Source Serif 4";
  font-size: 3rem;
}

/* WINDOW 3 RESPONSIVE PART  */
@media only screen and (max-width: 1150px) {
  #project-material {
    font-size: 1.1rem;
  }
  #win3-head {
    margin-block: 2%;
    font-family: "Source Serif 4";
    color: #00385d;
    font-size: 2rem;
  }
  .project-data .number {
    font-weight: 500;
    font-family: "Source Serif 4";
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 845px) {
  #project-material {
    font-size: 1rem;
  }
  .project-data .number {
    font-weight: 500;
    font-family: "Source Serif 4";
    font-size: 2rem;
  }
  .win3img-left img {
    width: 40%;
  }
  .win3img-right img {
    width: 40%;
  }
}
@media only screen and (max-width: 767px) {
  #project-material {
    font-size: 1rem;
  }
  .win3img-left img {
    width: 100%;
  }
  #win3-head {
    font-size: 1.6rem;
  }
  .win3img-right img {
    width: 100%;
  }
  .project-data .number {
    font-weight: 500;
    font-family: "Source Serif 4";
    font-size: 2rem;
  }
}
@media only screen and (max-width: 540px) {
  #win3-head {
    font-size: 1.4rem;
  }
  .project-data .number {
    font-weight: 500;
    font-family: "Source Serif 4";
    font-size: 1.4rem;
  }

  #project-material {
    font-size: 0.85rem;
    /* text-align: justify; */
  }
}
@media only screen and (max-width: 380px) {
}

/* -------------- WINDOW 4 ---------------- */
#window4 {
  padding: 0;
  margin: 0;
  width: 100%;
}
#materials-required {
  background-color: #002035;
  color: white;
  display: flex;
  gap: 15%;
  padding: 7% 5%;
  justify-content: center;
  align-items: center;
}
.things-heading {
  font-size: 2.6rem;
  font-family: "Source Serif 4";
  margin-bottom: 6%;
}
.things-data {
  font-size: 1.5rem;
}

/* --VIDEO SECTION-- */
#video-section {
  padding: 3% 5%;
}
#video-heading {
  font-size: 2.6rem;
  font-family: "Source Serif 4";
  margin-bottom: 2%;
}
.video-link {
  width: 100%;
}
#video-heading h2 {
  font-size: 2.6rem;
}

@media only screen and (max-width: 1150px) {
  #materials-required {
    align-items: center;
    justify-content: center;
  }
  .things-heading {
    font-size: 2rem;
  }

  .things-data li {
    font-size: 1.3rem;
  }

  #video-heading h2 {
    font-size: 2rem;
  }
  .video-link {
    height: 400px;
  }
}
@media only screen and (max-width: 845px) {
  #materials-required {
    align-items: center;
    justify-content: center;
  }
  .things-heading {
    font-size: 2rem;
  }
  .things-data {
    font-size: 1rem;
  }
  .things-data li {
    font-size: 1rem;
  }

  #video-heading h2 {
    font-size: 2rem;
  }
  .video-link {
    height: 340px;
  }
}
@media only screen and (max-width: 767px) {
  #materials-required {
    align-items: center;
    justify-content: center;
  }
  .things-heading {
    font-size: 1.6rem;
  }
  .things-data {
    font-size: 0.85rem;
  }
  .things-data li {
    font-size: 1rem;
  }

  #video-heading h2 {
    font-size: 1.6rem;
  }
  .video-link {
    height: 270px;
  }
}
@media only screen and (max-width: 540px) {
  #materials-required {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .things-heading {
    font-size: 1.4rem;
  }
  .things-data {
    font-size: 0.85rem;
  }
  .things-data li {
    font-size: 0.85rem;
  }

  #video-heading h2 {
    font-size: 1.4rem;
  }
  .video-link {
    height: 100%;
  }
}
@media only screen and (max-width: 380px) {
}

/* --------------- WINDOW 5 --------------- */
#window5 {
  padding: 0 5% 3%;
}
#community-heading {
  font-family: "Source Serif 4";
  font-size: 2.6rem;
  margin: 0 0 3% 0;
  color: #00385d;
}
#community-ques-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 3%;
}
.community-ques {
  padding: 2%;
  background-color: #f5f7f9;
}
.community-ques #ques {
  display: inline;
  background-color: #00385d;
  color: white;
  border-radius: 4rem;
  padding: 2.2%;
  font-size: 0.75rem;
}
.community-ques h2 {
  font-size: 1.6rem;
  margin-top: 2%;
  margin-bottom: 7%;
}
.community-ques h5 {
  font-size: 1.2rem;
  margin: 5% 0 18% 0;
}
#user-query {
  display: flex;
  align-items: center;
  margin-block: 2%;
  gap: 3%;
}
#user-query #user-name {
  margin: 0;
}
#thumbs {
  display: flex;
  gap: 10%;
}
#thumbs-up {
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: center;
}
#thumbs-up p {
  margin: 0;
}

#thumbs-down {
  display: flex;
  gap: 5%;
  align-items: center;
}
#thumbs-down p {
  margin: 0;
}

#ask-question {
  margin: 2% 0 2% 0;
}
#ask-head {
  margin: 0 0 1% 0;
  font-family: "Source Serif 4";
  color: #00385d;
  font-size: 2.6rem;
}
#ask-question form {
  /* width: 80%; */
  align-content: center;
}

@media only screen and (max-width: 1150px) {
  #community-heading,
  #ask-head {
    font-size: 2rem;
  }
  .community-ques h2 {
    font-size: 1.4rem;
  }
  .community-ques h5,
  #user-name {
    font-size: 1.1rem;
  }
  #thumbs-up img {
    width: 80%;
  }
  #thumbs-down img {
    width: 80%;
  }
}
@media only screen and (max-width: 845px) {
  #community-heading,
  #ask-head {
    font-size: 2rem;
  }
  .community-ques h2 {
    font-size: 1.2rem;
  }
  .community-ques h5,
  #user-name {
    font-size: 1rem;
  }
  #thumbs-up img {
    width: 50%;
  }
  #thumbs-down img {
    width: 50%;
  }
  #user-query img {
    width: 20%;
  }
}
@media only screen and (max-width: 767px) {
  #community-heading,
  #ask-head {
    font-size: 1.6rem;
  }
  .community-ques h2 {
    font-size: 1.1rem;
  }
  .community-ques h5,
  #user-name {
    font-size: 0.9rem;
  }
  #thumbs-up img {
    width: 40%;
  }
  #thumbs-up p {
    font-size: 0.9rem;
  }
  #thumbs-down img {
    width: 40%;
  }
  #thumbs-down p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 540px) {
  #community-heading,
  #ask-head {
    font-size: 1.4rem;
  }
  .community-ques h2 {
    font-size: 1rem;
    margin-bottom: 2%;
  }
  .community-ques h5,
  #user-name {
    font-size: 0.8rem;
    margin-bottom: 5%;
  }
  #thumbs {
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
}
  #thumbs-up img {
    width: 40%;
  }
  #thumbs-up p {
    font-size: 0.7rem;
  }
  #thumbs-down img {
    width: 40%;
  }
  #thumbs-down p {
    font-size: 0.9rem;
  }
  #community-ques-section {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3%;
  }
  #ask-question{
    margin-top: 20%;
  }
  #user-query img{
width: 10%;
  }
}
@media only screen and (max-width: 380px) {
}

/* ---------- WINDOW 6 --------- */
#window6 {
  padding: 2% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 1.5%;
  flex-wrap: wrap;
}
#recomm-head {
  padding-inline: 5%;
  font-family: "Source Serif 4";
  font-size: 2.6rem;
}
.recomm-card {
  background-color: #f5f7f9;
  text-decoration: none;
}
.recomm-card .recomitem img {
  width: 100%;
}
.recom-head {
  color: #00385d;
  font-family: "Source Serif 4";
  font-size: 1.6rem;
  margin-block: 3%;
}
.categories-pannel {
  text-align: center;
  margin-block: 2%;
}
.categories-pannel a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #00385d;
}

@media only screen and (max-width: 1150px) {
  #recomm-head {
    font-size: 2rem;
  }
  .recom-head {
    font-size: 1.5rem;
  }
  .categories-pannel a {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 845px) {
  #recomm-head {
    font-size: 2rem;
  }
  .recom-head {
    font-size: 1.2rem;
  }
  .categories-pannel a {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 767px) {
  #recomm-head {
    font-size: 1.6rem;
  }
  .recom-head {
    font-size: 1.1rem;
  }
  .categories-pannel a {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 540px) {
  #window6 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 1%;
  }
  .categories-pannel {
    text-align: center;
    margin-top: 30%;
  }
}
@media only screen and (max-width: 380px) {
}

/* ---------------------- WINDOW 7 -------------------------- */
#Window7 {
  padding: 2% 5%;
}

.cont {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  padding: 3% 0 0;
}
#Footercon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#Contact ul li {
  list-style: none;
}
#Contact ul {
  padding: 0;
}
#Footerlogobox {
  display: flex;
  align-items: center;
  text-decoration: none;
}
#Footerlogo {
  width: 42px;
  height: 64px;
  margin-right: 10px;
}
.Logobox {
  text-decoration: none;
}
#Footerlogotext,
#Footerlogotext span {
  font-size: 1.8rem;
  font-family: "Source Serif 4", serif;
  color: #00385d;
  font-weight: 600;
}
#Footerlogotext span {
  color: #749bc2;
}
.Footeritem #Footerlogobox {
  align-items: center;
}
.Footeritem {
  width: 30%;
  color: #00385d;
}
#Footerlogobox {
  margin-bottom: 20px;
}
.Footeritemhead {
  font-size: 1.2rem;
  font-weight: 500;
}
#Footercat ul li,
#Footertrending ul li {
  list-style: none;
}

#Footercat ul,
#Footertrending ul {
  padding: 0;
  text-align: center;
}
#Footercat ul li a,
#Footertrending ul li a {
  text-decoration: none;
  color: #00385d;
}
#Footercat .Footeritemhead,
#Footertrending .Footeritemhead {
  margin-bottom: 20px;
}
#Footercatbox,
#Footertrendingbox {
  width: 20%;
}
#Footermember ul {
  list-style: none;
  text-align: center;
}
#Footermemberbox {
  width: 20%;
}
#Footermemberbox .Footeritemhead {
  margin-bottom: 20px;
}
#Footericon {
  padding: 0 5%;
}
#Footericon .iconbox .fa-envelope {
  flex-wrap: wrap;
}
#Footermember ul {
  padding: 0;
}
.iconbox {
  margin: 10% 0;
  display: flex;
  justify-content: space-around;
}
/* ------------------- FOOTER ------------------- */
#Window8 {
  width: 100%;
  background-color: #002035;
  color: white;
  text-align: center;
  padding: 1.5% 0;
}
#Window8 h4 {
  font-size: 0.9rem;
  font-weight: 400;
}
#Window8 h5 {
  font-size: 0.8rem;
  font-weight: 400;
}
#Window8 h5 span {
  text-decoration: underline;
}

@media only screen and (max-width: 866px) {
  #Footerlogotext,
  #Footerlogotext span {
    font-size: 1.5rem;
  }
  #Contact ul .Footeritemhead,
  #Footertrending ul .Footeritemhead,
  #Footercat ul .Footeritemhead,
  #Footermember ul .Footeritemhead {
    font-size: 1rem;
  }
  #Contact ul li,
  #Footercat ul li,
  #Footertrending ul li,
  #Footermember ul li {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 766px) {
  #Footerlogotext,
  #Footerlogotext span {
    font-size: 1.3rem;
  }
  #Window8 h4 {
    font-size: 0.7rem;
    font-weight: 400;
  }
  #Window8 h5 {
    font-size: 0.6rem;
    font-weight: 400;
  }
  #Footerlogo {
    width: 30px;
    height: 52px;
  }
  #Contact ul .Footeritemhead,
  #Footertrending ul .Footeritemhead,
  #Footercat ul .Footeritemhead,
  #Footermember ul .Footeritemhead {
    font-size: 0.9rem;
  }
  #Contact ul li,
  #Footercat ul li,
  #Footertrending ul li,
  #Footermember ul li {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 666px) {
  #Footerlogotext,
  #Footerlogotext span {
    font-size: 1.1rem;
  }
  #Footerlogo {
    width: 24px;
    height: 46px;
  }
  #Contact ul .Footeritemhead,
  #Footertrending ul .Footeritemhead,
  #Footercat ul .Footeritemhead,
  #Footermember ul .Footeritemhead {
    font-size: 0.8rem;
  }
  #Contact ul li,
  #Footercat ul li,
  #Footertrending ul li,
  #Footermember ul li {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 576px) {
  #Footercon {
    width: 100%;
  }
  #Footericon h2 {
    font-size: 1.2rem;
  }
  #Footericon .iconbox .handleicons {
    font-size: 1rem;
  }
  .cont {
    width: 100%;
  }
  .Footeritem {
    width: 100%;
  }
  #Footercatbox,
  #Footertrendingbox,
  #Footermemberbox {
    width: 30%;
  }
  #Footerlogotext,
  #Footerlogotext span {
    font-size: 1.1rem;
  }
  #Footerlogo {
    width: 24px;
    height: 46px;
  }
  #Contact ul .Footeritemhead,
  #Footertrending ul .Footeritemhead,
  #Footercat ul .Footeritemhead,
  #Footermember ul .Footeritemhead {
    font-size: 0.8rem;
  }
  #Contact ul li,
  #Footercat ul li,
  #Footertrending ul li,
  #Footermember ul li {
    font-size: 0.7rem;
  }
}
